<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Internet Banking</display-name>
	<context-param>
	<param-name>driver</param-name>
	<param-value>com.mysql.jdbc.Driver</param-value>
	</context-param>
	
	<servlet>
		<description>
		</description>
		<display-name>Log</display-name>
		<servlet-name>Log</servlet-name>
		<servlet-class>
		Log</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>
		Login</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Deposit</display-name>
		<servlet-name>Deposit</servlet-name>
		<servlet-class>
		Deposit</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Open</display-name>
		<servlet-name>Open</servlet-name>
		<servlet-class>
		Open</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Transfer</display-name>
		<servlet-name>Transfer</servlet-name>
		<servlet-class>
		Transfer</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Withdraw</display-name>
		<servlet-name>Withdraw</servlet-name>
		<servlet-class>
		Withdraw</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Close</display-name>
		<servlet-name>Close</servlet-name>
		<servlet-class>
		Close</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Register</display-name>
		<servlet-name>Register</servlet-name>
		<servlet-class>
		Register</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Log</servlet-name>
		<url-pattern>/Log</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Deposit</servlet-name>
		<url-pattern>/Deposit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Open</servlet-name>
		<url-pattern>/Open</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Transfer</servlet-name>
		<url-pattern>/Transfer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Withdraw</servlet-name>
		<url-pattern>/Withdraw</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Close</servlet-name>
		<url-pattern>/Close</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/Register</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
